@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@300&display=swap');

.main-container {
  width: 100%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  font-family: 'Oswald';
  
}

.main-heading {
  color: #1e293b;
  font-size: 52px;
}

.inner-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}
.inner-holder p{
  width: 50%;
  padding: 45px;
}

.element-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.name-field {
  width: 280px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #cbd2d9;
  outline: none;
}
.comment-field {
  width: 280px;
  height: 100px;
  font-family: 'Roboto';
  padding: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #cbd2d9;
  border-width: 2px;
  outline: none;
}

::placeholder {
  color: #475569;

}

.btn {
  background-color: #c71a74;
  border-style: none;
  border-radius: 2px;
  color: #dee0e3;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 110px;
}

.image1 {
  width: 600px;
  height: 500px;
}

.comments-count {
  color: #334155;
  font-size: 14px;
}

hr {
  background-color: #cbd2d9;
  opacity: 0.5;
  width: 50vw;
  margin-left: 0;
}

.number-count {
  color: white;
  padding: 6px;
  background-color: #d5a00d;
  border-radius: 5px;
  font-size: 12px;
}

.comment-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .main-container {
    padding: 40px;
  }
  hr {
    width: 80vw;
  }

  .inner-holder {
    flex-wrap: wrap;
  }

  .element-holder {
    order: 1;
  }
  .image1 {
    order: 0;
    width: 300px;
    height: 200px;
  }
}
