/*& About the container ACTIVITES *************/
.containerActivites {
  padding-top: 10%;
  height: 150vh;
  background-color: whitesmoke;

  background-image: url("../../../public/assets/images/TrouverAide/SVG/SVG/abstract.svg");
}
.cardRow {
  margin-top: 30%;
}
