/*& About the container ACTIVITES *************/
.containerActivites {
  padding-top: 10%;
  height: 150vh;
  background-color: whitesmoke;
}
.backgroundActivity {
  position: absolute;
  margin-top: -12%;
  opacity: 40%;
}
.cardRow {
  margin-top: 30%;
}
