#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 115vh;
  position: relative;
}
#introCarousel{
  top: -100px;

}

.carousel-item:nth-child(1) {
  background-image: url('../../public/assets/images/imgA3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(2) {
  background-image: url('../../public/assets/images/imgA2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.carousel-item:nth-child(3) {
  background-image: url('../../public/assets/images/imgA1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
/* @media (min-width: 992px) {
  #introCarousel {
    margin-top: 0px;
  }
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 95vh;
  }
} */
.tittle_hero{
padding: 50px;
border-radius: 20px;
}

.soutenir{
  height: auto;
  margin-bottom: 50px;
  
}


.valeur{
  height: auto;
 }

