@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@300&display=swap');

.logoNav{
    height: 139%;
    z-index: 9999;
    margin-left: 1%;
    margin-top: 8px;
  
}
.slogan{
    width: 29%;
    margin-top: 3.5%;
    margin-left: 5px;
    color: #e02965;
    font-weight: bolder;
  
}
nav ul li {
 background-color: none!important;
}
nav a {
    color: #e02965 !important;
    font-size: 18px!important;
}
nav a:hover {
    color: #F8CD42!important;
}

