@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@300&display=swap');

.logoNav{
    height: 100%!important;
    z-index: 9999;
    margin-left: 1%;
    margin-top: 8px;
  
}
.slogan{
    width: 29%;
    margin-top: 3.5%;
    margin-left: 5px;
    color: #e02965;
    font-weight: bolder;
  
}
nav ul li {
 background-color: none!important;
}
nav a {
    color: #e02965 !important;
    font-size: 22px!important;
}
nav a:hover {
    color: #F8CD42!important;
}

.nav-items{
    box-shadow: rgba(0, 0, 0, 0.421) 0px 4px 12px 0px, rgba(0, 0, 0, 0.178) 0px 2px 4px;

border-radius: .5rem;
width: 60%;
height: 100%;
background: "hsla(0, 0%, 100%, 0.55)";
backdrop-filter: blur(30px);
align-items: center;
margin-top: -2%;
margin-left: 40%;
font-weight: 600
}

.sous{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.421) 0px 4px 12px 0px, rgba(0, 0, 0, 0.178) 0px 2px 4px;

    background: "hsla(0, 0%, 100%, 0.55)";
backdrop-filter: blur(30px);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.sous a:hover{
    border-bottom: none;
    border-radius: .5rem;
    background-color: #e02965;
}





   

