@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@300&display=swap');
*{
  color:black;
  font-family: 'Oswald';
}
.App {
  text-align: center;
}
.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(199, 24, 24);
}




